//Couleurs
$jaune-vert:#BAFF39;
$gris-fonce:#6E6E6E;
$color-white: #FFF;
$bg-gris-jaune-vert:rgba(186, 255, 57, 0.8);
$bg-gris-fonce:rgba(110, 110, 110, 0.5);
$bg-gris-clair:rgba(110,110,110,0.8);
//Tailles
$breakpoint1: 930px;
$breakpoint2: 515px;

